/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(135deg, #f6f1e9, #e2cfc3);
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}
