<nav class="navbar">
  <a routerLink="/home" class="logo">
    <img src="/assets/images/logo.png" alt="Egypt Unlocked Logo" class="logo-img">
  </a>  
  <ul class="nav-links">
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/play" routerLinkActive="active">Play</a></li>

    <li><a routerLink="/leaderboard" routerLinkActive="active">Leaderboard</a></li>
  </ul>
</nav>
