<section id="cities" class="services-section">
  <div class="container text-center">

    <h2 class="section-subtitle">Discover the Beauty of Egypt</h2>

    <div class="row services-grid">
      <!-- City 1 -->
      <div class="col-md-4 service-item">
        <div class="service-icon">
          <i class="fa-solid fa-landmark"></i>
        </div>
        <img src="assets/images/siwa.jpeg" alt="siwa" class="service-image">
        <h3 class="service-title">Siwa</h3>
        <a class="read-more" routerLink="/siwa"routerLinkActive="active active-link">Read More →</a>
      </div>

      <!-- City 2 -->
      <div class="col-md-4 service-item">
        <div class="service-icon">
          <i class="fa-solid fa-mountain-sun"></i>
        </div>
         <img src="assets/images/aswan.avif" alt="siwa" class="service-image">
        <h3 class="service-title">Aswan</h3>
      </div>

      <!-- City 3 -->
      <div class="col-md-4 service-item">
        <div class="service-icon">
          <i class="fa-solid fa-monument"></i>
        </div>
         <img src="assets/images/luxor.webp" alt="luxor" class="service-image">
        <h3 class="service-title">Luxor</h3>
      </div>





      <!-- City 6 -->
      <div class="col-md-4 service-item">
        <div class="service-icon">
          <i class="fa-solid fa-tree-city"></i>
        </div>
         <img src="assets/images/fayom.jpg" alt="siwa" class="service-image">
        <h3 class="service-title">Fayom</h3>
      </div>
    </div>
  </div>
</section>
