/* General Styles */

body {
  color: #5a4a42;
}

/* Section Title */
.section-title {
  font-size: 1.2rem;
  color: #a47148;
  margin-bottom: 20px;
}

.section-subtitle {
  font-size: 2.985984rem;
  color: #231706;
  margin-bottom: 40px;
}

/* Services Section */
.services-section {
  background-color: #D8C29D;
  padding: 80px 0;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}


.service-item {
  background-color: #7B5E57;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(80, 56, 26, 0.2);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.service-image {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #a47148;

 transition: transform 0.3s ease;
}
.service-image:hover {
  transform: scale(1.2);
}
.service-title {
  font-size: 20px;
  color: #1e1602;
  margin: 10px 0 0;
  text-align: center;
}

.service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(80, 56, 26, 0.3);
}

.service-icon {
  font-size: 48px;
  color: #a47148;
  margin-bottom: 20px;
}



.service-description {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 768px) {
  .services-grid {
    flex-direction: column;
    align-items: center;
  }

  .service-item {
    max-width: 100%;
  }
}
.read-more {
  display: inline-block;
  margin-top: 10px;
  color: #edcdb3;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.read-more:hover {
  color: #7c4a21;
  border-bottom: 2px solid #a47148;
  transform: translateX(3px);
}
