body {
  color: #5a4a42;
}

.section-title {
  font-size: 1.2rem;
  color: #a47148;
  margin-bottom: 20px;
  text-align: center;
}

.section-subtitle {
  font-size: 2.985984rem;
  color: #231706;
  margin-bottom: 40px;
}


.city-section {
  background-color: #D8C29D;
  padding: 10px 0;
}

.city-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  border: #a47148;
}


.city-item {
  background-color:#f6f1e9;
  border: 2px solid #a47148;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(80, 56, 26, 0.2);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.city-image {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px;
 transition: transform 0.3s ease;
}
.city-image:hover {
  transform: scale(1.2);
}
.city-title a {
  font-size: 20px;
  color: #1e1602;
  margin: 10px 0 0;
  text-align: center;
}

.city-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(80, 56, 26, 0.3);
}

.city-icon {
  font-size: 48px;
  color: #a47148;
  margin-bottom: 20px;
}



.city-description {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}
.readmore-link {
  display: inline-block;
  font-size: 18px;
  color: #a47148;
  text-decoration: none;
  font-weight: bold;
 
  transition: color 0.3s ease, transform 0.3s ease;
}

.readmore-link:hover {
  color: #1e1602;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .services-grid {
    flex-direction: column;
    align-items: center;
  }

  .city-item {
    max-width: 100%;
  }
}
