.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 20px;
  background-image: linear-gradient(rgba(225, 128, 18, 0.793), rgba(150, 140, 140, 0.4)), url('/assets/images/home.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', sans-serif;
}

img{
  width: 35%;
  height: 35%;
}

.play-button {
  font-size: 1.6rem;
  padding: 15px 40px;
  background-color: #160902;
  color: white;
  border: none;
  width: 150px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}


.play-button:hover {
  background-color: #5a4a42;
}
