<div class="map-container">
  <img src="assets/images/egypt-map.jpg" class="map-image" alt="Map" />

  <img
  *ngFor="let location of locations"
  class="location-marker"
  [src]="'assets/gif/location2.png'"
  [style.left.%]="location.x"
  [style.top.%]="location.y"
  (click)="selectLocation(location)"
  alt="marker"
/>

</div>

<div *ngIf="selectedLocation" class="info-popup">
  <img
    src="assets/gif/close.png" class="close-btn" alt="Close" (click)="closeInfo()"
  />
  <br>
  <div class="popup-content">
    <h2>{{ selectedLocation.name }}</h2>
    <p><strong>Type:</strong> {{ selectedLocation.type }}</p>
    <p><strong>Status:</strong> {{ selectedLocation.crowded ? 'Crowded' : 'Not Crowded' }}</p>

    <button
      *ngIf="selectedLocation.crowded && subscribed"
      (click)="accessExclusiveContent(selectedLocation)"
      class="action-button"
    >
      Hidden Experience
    </button>

    <p *ngIf="selectedLocation.crowded && !subscribed" style="color: red;">
      Only available for subscribed users
    </p>

    <button (click)="redeemCoins(selectedLocation)" class="redeem-button">
      Redeem Coins
    </button>
  </div>
</div>
