<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-section left">
      <h3>About Game</h3>
      <p>Hidden Egypt is a gamified tourism experience that lets you explore Egypt’s hidden gems using AI and interactive maps.</p>
    </div>

    <div class="footer-section right">
      <h3>Play</h3>
        <a routerLink="/play">Start Game</a>
        <br>
        <a routerLink="/leaderboard">Leaderboard</a>
    </div>
  </div>

  <div class="footer-bottom">
    &copy; 2025 Egypt Unlocked. All rights reserved.
  </div>
</footer>
